<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Red Space</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/site.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Red Space - Products</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Welcome to the Red Space Page</h1>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
        <input type="text" class="form-control" id="datepicker" aria-describedby="basic-addon1"/>
    </div>

    <form th:action="@{/shopping/edit}" th:object="${product}" th:method="POST">
        <p>Item Title: </p>
        <input id="edit_title" type="text" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Item Title Error will appear here</span>

        <p>Item Subtitle: </p>
        <input id="edit_subtitle" type="text" th:field="*{subtitle}" />
        <span th:if="${#fields.hasErrors('subtitle')}" th:errors="*{subtitle}">Item Subtitle Error will appear here</span>

        <p>Item Category: </p>
        <input id="edit_category" type="text" th:field="*{category}" />
        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Item Category Error will appear here</span>

        <p>Item Price: </p>
        <input id="edit_price" type="text" th:field="*{price}" />
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Item Price Error will appear here</span>

        <p>Item Discount Price: </p>
        <input id="edit_discount_price" type="text" th:field="*{discountPrice}" />
        <span th:if="${#fields.hasErrors('discountPrice')}" th:errors="*{discountPrice}">Item Price Error will appear here</span>

        <p>Quantity: </p>
        <input id="edit_quantity" type="text" th:field="*{productQuantity}" />
        <span th:if="${#fields.hasErrors('productQuantity')}" th:errors="*{productQuantity}">Amount Error will appear here</span>

        <button type="submit" style="display: block;">Submit</button>
    </form>

</div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">@Copyright 2017 RED SPACE</p></div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/site.js"></script>
</body>
</html>